In [31]:
import pandas as pd 
from tabulate import tabulate
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("../Data/cw2-dataset/readings.csv");

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 136824 entries, 0 to 136823
Data columns (total 5 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   id           136824 non-null  int64
 1   value        136824 non-null  float64
 2   location     136824 non-null  object
 3   sample date  136824 non-null  object
 4   measure      136824 non-null  object
dtypes: float64(1), int64(1), object(3)
memory usage: 5.2+ MB

In [4]:
locations = df['location'].unique()
header = ['id' , 'location', 'sample date']
header.extend(df['measure'].unique())
dataframe = pd.DataFrame(columns=header)

In [5]:
dataframe.info()

<class 'pandas.core.frame.DataFrame'>
Index: 0 entries
Columns: 109 entries, id to Total dissolved phosphorus
dtypes: object(109)
memory usage: 0.0+ bytes

In [6]:
def d_parse(date):
    months = {
        "Jan" : 1,
        "Feb" : 2,
        "Mar" : 3,
        "Apr" : 4,
        "May" : 5,
        "Jun" : 6,
        "Jul" : 7,
        "Aug" : 8,
        "Sep" : 9,
        "Oct" : 10,
        "Nov" : 11,
        "Dec" : 12 
    }
    d = date.split("-")
    day = int(d[0])
    month = months[d[1]]
    year = int(d[2])
    if year <= 20:
        if year < 10:
            year = str(200) + str(year)
        else:
            year = str(20) + str(year)
    else: 
        year = str(19) + str(year)
    
    dt = tuple((day , month, int(year)))
    return dt

In [7]:
d_parse("07-Nov-05")

(7, 11, 2005)

In [8]:
df = df.groupby(['location', 'sample date', 'measure'], as_index=False).mean()
for location in locations:
    tmp_df = df[df['location'] == location]
    dates = tmp_df['sample date'].unique()
    for date in dates: 
        tmp = tmp_df[tmp_df['sample date'] == date]
        measures = tmp['measure'].tolist()
        vals = tmp['value'].tolist()
        headers = ['location','sample date', 'day' , 'month', 'year']
        headers.extend(measures)
        dt = d_parse(date)
        values = [location , date, dt[0], dt[1], dt[2]]
        values.extend(vals)
        dataframe = dataframe.append({headers[i]: values[i] for i in range(len(headers))}, ignore_index=True).fillna(np.nan)

In [9]:
dataframe.head()

,id,location,sample date,Water temperature,Dissolved oxygen,Ammonium,Nitrites,Nitrates,Orthophosphate-phosphorus,Total phosphorus,...,Inorganic nitrogen,Berilium,Boron,AGOC-3A,Methylosmoline,Chlorodinine,Total dissolved phosphorus,day,month,year
0,NaN,Boonsri,07-Nov-15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.598,1.783000,0.258667,NaN,7.0,11.0,2015.0
1,NaN,Boonsri,09-Sep-15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.310,0.314333,0.247000,NaN,9.0,9.0,2015.0
2,NaN,Boonsri,1-Aug-14,24.733333,6.416667,0.071667,0.041000,0.845667,0.107000,0.178667,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,8.0,2014.0
3,NaN,Boonsri,1-Aug-15,27.666667,NaN,0.056333,0.023000,0.936667,0.044667,0.059000,...,NaN,NaN,NaN,NaN,NaN,NaN,0.053,1.0,8.0,2015.0
4,NaN,Boonsri,1-Nov-08,13.000000,9.123333,0.168000,0.025667,1.129667,0.017333,0.066667,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,11.0,2008.0

In [10]:
dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3068 entries, 0 to 3067
Columns: 112 entries, id to year
dtypes: float64(110), object(2)
memory usage: 2.6+ MB

In [11]:
dataframe.to_csv("../Data/data.csv", index=False)

In [12]:
_40Percent = (40 * len(dataframe)) / 100.0
df = pd.DataFrame()

In [13]:
for (columnName, columnData) in dataframe.iteritems():
    if(columnData.dtype != object):
        if(_40Percent >= columnData.isna().sum()):
            df[columnName] = columnData
    else:
        df[columnName] = columnData

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3068 entries, 0 to 3067
Data columns (total 18 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   location                     3068 non-null   object
 1   sample date                  3068 non-null   object
 2   Water temperature            2692 non-null   float64
 3   Dissolved oxygen             2268 non-null   float64
 4   Ammonium                     2439 non-null   float64
 5   Nitrites                     2441 non-null   float64
 6   Nitrates                     2439 non-null   float64
 7   Orthophosphate-phosphorus    2437 non-null   float64
 8   Total phosphorus             2359 non-null   float64
 9   Calcium                      1861 non-null   float64
 10  Magnesium                    1872 non-null   float64
 11  Chlorides                    1942 non-null   float64
 12  Biochemical Oxygen           2252 non-null   float64
 13  Chemical Oxygen Demand (Cr)  1873 non-null   float64
 14  Chemical Oxygen Demand (Mn)  1921 non-null   float64
 15  day                          3068 non-null   float64
 16  month                        3068 non-null   float64
 17  year                         3068 non-null   float64
dtypes: float64(16), object(2)
memory usage: 431.6+ KB

In [29]:
def detect_anomilies(df):
    for (columnName, columnData) in df.iteritems():
        mins = []
        maxs = []
        cnts = []
        colN = []
        mens = []
        if(columnData.dtype != object):
            # calculate summary statistics
            data_mean, data_std = np.mean(columnData), np.std(columnData)
            # identify outliers
            cut_off = data_std * 2
            lower, upper = data_mean - cut_off, data_mean + cut_off
            outliers = [x for x in columnData if x < lower or x > upper]
            if columnName == "Water temperature": 
                print(outliers)
            if len(outliers) == 0: 
                mins.append(0)
                maxs.append(0)
            else:
                mins.append(np.min(outliers))
                maxs.append(np.max(outliers))
                cnts.append(len(outliers))
                colN.append(columnName)
                mens.append(data_mean)
                
            headers = ['Car Type', 'AVG Retail Price', 'AVG Dealer Cost', 'AVG Profit', 'AVG Profit %']
            title = "Pickups have the highest average profit (9.32%)"
            printTable(title, prices, headers)

In [16]:
detect_anomilies(df)

[32.0, 36.4, 34.0]
Detected total of 3 in Water temperature
Detected total of 85 in Dissolved oxygen
Detected total of 110 in Ammonium
Detected total of 46 in Nitrites
Detected total of 58 in Nitrates
Detected total of 82 in Orthophosphate-phosphorus
Detected total of 62 in Total phosphorus
Detected total of 98 in Calcium
Detected total of 83 in Magnesium
Detected total of 96 in Chlorides
Detected total of 23 in Biochemical Oxygen
Detected total of 47 in Chemical Oxygen Demand (Cr)
Detected total of 66 in Chemical Oxygen Demand (Mn)
Detected total of 31 in day
Detected total of 0 in month
Detected total of 60 in year

In [17]:
fdf = pd.DataFrame()
for location in locations:
    loc_df = df[df['location'] == location]
    loc_df = loc_df.fillna(loc_df.mean())
    fdf = pd.concat([loc_df, fdf], ignore_index=True)

In [18]:
fdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3068 entries, 0 to 3067
Data columns (total 18 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   location                     3068 non-null   object
 1   sample date                  3068 non-null   object
 2   Water temperature            3068 non-null   float64
 3   Dissolved oxygen             3068 non-null   float64
 4   Ammonium                     3068 non-null   float64
 5   Nitrites                     3068 non-null   float64
 6   Nitrates                     3068 non-null   float64
 7   Orthophosphate-phosphorus    3068 non-null   float64
 8   Total phosphorus             3068 non-null   float64
 9   Calcium                      3068 non-null   float64
 10  Magnesium                    3068 non-null   float64
 11  Chlorides                    3068 non-null   float64
 12  Biochemical Oxygen           3068 non-null   float64
 13  Chemical Oxygen Demand (Cr)  3068 non-null   float64
 14  Chemical Oxygen Demand (Mn)  3068 non-null   float64
 15  day                          3068 non-null   float64
 16  month                        3068 non-null   float64
 17  year                         3068 non-null   float64
dtypes: float64(16), object(2)
memory usage: 431.6+ KB

In [19]:
fdf.to_csv("../Data/fdata.csv", index=False)

In [30]:
for location in locations:
    loc_df = fdf[fdf['location'] == location]
    print("Report:" , location)
    detect_anomilies(loc_df)
    print('-----------------------------')

Report: Boonsri
[]
Detected total of 0 in Water temperature Mean: 13.725160698806246 outliers: 0 & 0
Detected total of 17 in Dissolved oxygen Mean: 8.862782969885775 outliers: 4.066666666666667 & 14.04
Detected total of 7 in Ammonium Mean: 0.22956914600550965 outliers: 0.7399999999999999 & 3.986
Detected total of 5 in Nitrites Mean: 0.02929908172635445 outliers: 0.11 & 0.6623333333333333
Detected total of 20 in Nitrates Mean: 1.2074683195592288 outliers: 0.10000000000000002 & 3.57
Detected total of 13 in Orthophosphate-phosphorus Mean: 0.0840878787878788 outliers: 0.25333333333333335 & 0.8233333333333333
Detected total of 15 in Total phosphorus Mean: 0.12750541549953315 outliers: 0.33 & 1.06
Detected total of 13 in Calcium Mean: 49.19619577354497 outliers: 1.0 & 68.24
Detected total of 13 in Magnesium Mean: 14.559788353439153 outliers: 25.22 & 57.46666666666667
Detected total of 15 in Chlorides Mean: 20.444664566037737 outliers: 5.36 & 53.71
Detected total of 22 in Biochemical Oxygen Mean: 2.4521230158730156 outliers: 0.0 & 7.133333333333333
Detected total of 20 in Chemical Oxygen Demand (Cr) Mean: 9.966024691358024 outliers: 0.0 & 22.63
Detected total of 14 in Chemical Oxygen Demand (Mn) Mean: 4.006261980830671 outliers: 7.05 & 12.566666666666668
Detected total of 3 in day Mean: 16.182957393483708 outliers: 1.0 & 1.0
Detected total of 0 in month Mean: 6.69172932330827 outliers: 0 & 0
Detected total of 0 in year Mean: 2008.2781954887218 outliers: 0 & 0
-----------------------------
Report: Kannika
[]
Detected total of 0 in Water temperature Mean: 14.149213161659512 outliers: 0 & 0
Detected total of 10 in Dissolved oxygen Mean: 8.97451754385965 outliers: 5.433333333333333 & 14.5
Detected total of 12 in Ammonium Mean: 0.2496082621082621 outliers: 0.6970000000000001 & 2.27
Detected total of 3 in Nitrites Mean: 0.03427324786324787 outliers: 0.13466666666666668 & 0.606
Detected total of 16 in Nitrates Mean: 1.4831433475783475 outliers: 0.10166666666666668 & 3.0133333333333336
Detected total of 6 in Orthophosphate-phosphorus Mean: 0.04249858369098713 outliers: 0.10896666666666666 & 0.3091333333333333
Detected total of 15 in Total phosphorus Mean: 0.09411568627450981 outliers: 0.0 & 0.3313333333333333
Detected total of 19 in Calcium Mean: 53.37869368018018 outliers: 19.8 & 73.00000000000001
Detected total of 8 in Magnesium Mean: 19.757577079295153 outliers: 35.43333333333333 & 59.656666666666666
Detected total of 15 in Chlorides Mean: 32.217688896296295 outliers: 16.173333333333336 & 61.23333333333333
Detected total of 15 in Biochemical Oxygen Mean: 2.097165925925926 outliers: 0.0 & 5.466666666666666
Detected total of 17 in Chemical Oxygen Demand (Cr) Mean: 21.38790429042904 outliers: 5.0 & 45.0
Detected total of 14 in Chemical Oxygen Demand (Mn) Mean: 4.208512705530643 outliers: 7.1000000000000005 & 11.616666666666667
Detected total of 6 in day Mean: 14.985401459854014 outliers: 30.0 & 30.0
Detected total of 0 in month Mean: 6.591240875912408 outliers: 0 & 0
Detected total of 0 in year Mean: 2007.8576642335765 outliers: 0 & 0
-----------------------------
Report: Chai
[32.0]
Detected total of 1 in Water temperature Mean: 14.046024096385542 outliers: 32.0 & 32.0
Detected total of 47 in Dissolved oxygen Mean: 8.976769041769042 outliers: 0.0 & 14.966666666666669
Detected total of 33 in Ammonium Mean: 0.2580996278317152 outliers: 0.6083333333333333 & 1.4633333333333336
Detected total of 27 in Nitrites Mean: 0.02887061488673139 outliers: 0.06666666666666667 & 0.30333333333333334
Detected total of 56 in Nitrates Mean: 1.635470436893204 outliers: 0.10000000000000002 & 3.466666666666667
Detected total of 25 in Orthophosphate-phosphorus Mean: 0.04220071197411003 outliers: 0.09100000000000001 & 0.3263333333333333
Detected total of 4 in Total phosphorus Mean: 0.09922794871794874 outliers: 0.4586666666666667 & 3.5333333333333337
Detected total of 54 in Calcium Mean: 51.95202778055557 outliers: 18.48 & 76.93333333333334
Detected total of 37 in Magnesium Mean: 20.066489076502734 outliers: 7.84 & 56.31999999999999
Detected total of 56 in Chlorides Mean: 32.28478811454754 outliers: 14.136666666666665 & 63.9
Detected total of 49 in Biochemical Oxygen Mean: 2.284666666666667 outliers: 0.0 & 5.633333333333333
Detected total of 58 in Chemical Oxygen Demand (Cr) Mean: 23.447537313432836 outliers: 0.0 & 58.26666666666667
Detected total of 47 in Chemical Oxygen Demand (Mn) Mean: 4.0519374247894095 outliers: 1.6666666666666667 & 9.846666666666666
Detected total of 0 in day Mean: 16.967171717171716 outliers: 0 & 0
Detected total of 0 in month Mean: 6.585858585858586 outliers: 0 & 0
Detected total of 42 in year Mean: 2011.6098484848485 outliers: 1998.0 & 2000.0
-----------------------------
Report: Kohsoom
[36.4]
Detected total of 1 in Water temperature Mean: 15.061751156682028 outliers: 36.4 & 36.4
Detected total of 18 in Dissolved oxygen Mean: 7.695324074074073 outliers: 2.3 & 13.69
Detected total of 8 in Ammonium Mean: 2.566232407407407 outliers: 6.091 & 14.2
Detected total of 12 in Nitrites Mean: 0.06691990740740741 outliers: 0.005 & 0.201
Detected total of 8 in Nitrates Mean: 2.0346467592592594 outliers: 5.4 & 10.8
Detected total of 9 in Orthophosphate-phosphorus Mean: 0.17951382488479264 outliers: 0.4909 & 1.75
Detected total of 8 in Total phosphorus Mean: 0.27078801843317973 outliers: 0.698 & 2.44
Detected total of 9 in Calcium Mean: 70.3985529907834 outliers: 4.0 & 110.4
Detected total of 4 in Magnesium Mean: 20.2565529953917 outliers: 67.2 & 77.72
Detected total of 7 in Chlorides Mean: 50.59288018894009 outliers: 83.0 & 130.4
Detected total of 4 in Biochemical Oxygen Mean: 5.915277777777779 outliers: 32.4 & 62.5
Detected total of 16 in Chemical Oxygen Demand (Cr) Mean: 19.991753535545026 outliers: 45.84 & 87.8
Detected total of 8 in Chemical Oxygen Demand (Mn) Mean: 7.297534883720931 outliers: 3.35 & 17.9
Detected total of 10 in day Mean: 22.782442748091604 outliers: 1.0 & 11.0
Detected total of 0 in month Mean: 6.6183206106870225 outliers: 0 & 0
Detected total of 0 in year Mean: 2008.0076335877864 outliers: 0 & 0
-----------------------------
Report: Somchair
[]
Detected total of 0 in Water temperature Mean: 13.593462897526502 outliers: 0 & 0
Detected total of 11 in Dissolved oxygen Mean: 8.80458781362007 outliers: 0.0 & 13.5
Detected total of 15 in Ammonium Mean: 0.46451774647887323 outliers: 1.5 & 3.4
Detected total of 7 in Nitrites Mean: 0.046863309859154934 outliers: 0.205 & 1.2
Detected total of 10 in Nitrates Mean: 1.8446571830985918 outliers: 3.28 & 7.62
Detected total of 16 in Orthophosphate-phosphorus Mean: 0.0399868661971831 outliers: 0.12 & 0.2924
Detected total of 13 in Total phosphorus Mean: 0.10374416058394162 outliers: 0.349 & 0.9790000000000001
Detected total of 20 in Calcium Mean: 61.15018691588785 outliers: 23.3 & 113.0
Detected total of 15 in Magnesium Mean: 23.36583333796296 outliers: 40.6 & 66.15
Detected total of 17 in Chlorides Mean: 74.15817762616823 outliers: 19.21 & 196.800003
Detected total of 13 in Biochemical Oxygen Mean: 3.320875 outliers: 6.9 & 11.96
Detected total of 22 in Chemical Oxygen Demand (Cr) Mean: 33.96278350515464 outliers: 0.0 & 94.08
Detected total of 11 in Chemical Oxygen Demand (Mn) Mean: 6.473425925925925 outliers: 13.63 & 30.8
Detected total of 15 in day Mean: 19.23913043478261 outliers: 1.0 & 3.0
Detected total of 0 in month Mean: 6.8105590062111805 outliers: 0 & 0
Detected total of 0 in year Mean: 2009.2360248447205 outliers: 0 & 0
-----------------------------
Report: Sakda
[]
Detected total of 0 in Water temperature Mean: 14.234118518518518 outliers: 0 & 0
Detected total of 6 in Dissolved oxygen Mean: 8.821046337817641 outliers: 12.21 & 12.763333333333334
Detected total of 13 in Ammonium Mean: 0.2643393595342067 outliers: 0.7366666666666667 & 1.9566666666666668
Detected total of 14 in Nitrites Mean: 0.03628852983988356 outliers: 0.09533333333333334 & 0.19333333333333327
Detected total of 14 in Nitrates Mean: 1.4588240789473683 outliers: 0.10000000000000002 & 3.59
Detected total of 12 in Orthophosphate-phosphorus Mean: 0.041906418128654976 outliers: 0.09696666666666666 & 0.17633333333333334
Detected total of 12 in Total phosphorus Mean: 0.09411435185185185 outliers: 0.20620000000000002 & 0.3026666666666667
Detected total of 18 in Calcium Mean: 54.099457006033184 outliers: 33.74 & 73.83333333333334
Detected total of 13 in Magnesium Mean: 19.067164410256414 outliers: 31.7 & 51.47
Detected total of 8 in Chlorides Mean: 40.701156172672675 outliers: 147.01666666666668 & 468.3
Detected total of 17 in Biochemical Oxygen Mean: 2.297481146304676 outliers: 0.0 & 5.733333333333333
Detected total of 11 in Chemical Oxygen Demand (Cr) Mean: 22.145500000000006 outliers: 0.0 & 89.0
Detected total of 10 in Chemical Oxygen Demand (Mn) Mean: 4.366287878787879 outliers: 7.266666666666667 & 17.156666666666666
Detected total of 10 in day Mean: 14.66914498141264 outliers: 29.0 & 31.0
Detected total of 0 in month Mean: 6.598513011152416 outliers: 0 & 0
Detected total of 0 in year Mean: 2008.007434944238 outliers: 0 & 0
-----------------------------
Report: Busarakhan
[]
Detected total of 0 in Water temperature Mean: 13.585618374558303 outliers: 0 & 0
Detected total of 15 in Dissolved oxygen Mean: 8.679910071942446 outliers: 0.0 & 15.4
Detected total of 9 in Ammonium Mean: 0.36629713286713284 outliers: 1.32 & 4.54
Detected total of 15 in Nitrites Mean: 0.03503048951048951 outliers: 0.09300000000000001 & 0.217
Detected total of 6 in Nitrates Mean: 1.7123554195804196 outliers: 3.9279 & 11.5
Detected total of 10 in Orthophosphate-phosphorus Mean: 0.04491713286713287 outliers: 0.12714 & 0.331
Detected total of 11 in Total phosphorus Mean: 0.09700182481751823 outliers: 0.267 & 0.782
Detected total of 21 in Calcium Mean: 61.54358138604652 outliers: 12.06 & 153.2
Detected total of 16 in Magnesium Mean: 27.316284417431195 outliers: 7.05 & 73.93
Detected total of 13 in Chlorides Mean: 58.59623255348837 outliers: 103.4 & 186.7
Detected total of 16 in Biochemical Oxygen Mean: 2.9535483870967743 outliers: 0.0 & 9.84
Detected total of 22 in Chemical Oxygen Demand (Cr) Mean: 31.51625 outliers: 0.0 & 74.88
Detected total of 11 in Chemical Oxygen Demand (Mn) Mean: 5.725891089108911 outliers: 10.2 & 27.0
Detected total of 15 in day Mean: 19.304615384615385 outliers: 1.0 & 3.0
Detected total of 0 in month Mean: 6.75076923076923 outliers: 0 & 0
Detected total of 3 in year Mean: 2009.3015384615385 outliers: 1998.0 & 1998.0
-----------------------------
Report: Tansanee
[34.0]
Detected total of 1 in Water temperature Mean: 14.246031746031745 outliers: 34.0 & 34.0
Detected total of 8 in Dissolved oxygen Mean: 8.893711340206185 outliers: 2.72 & 15.96
Detected total of 6 in Ammonium Mean: 1.3702878787878787 outliers: 6.551 & 14.869000000000002
Detected total of 2 in Nitrites Mean: 0.13449242424242425 outliers: 0.8640000000000001 & 2.052
Detected total of 5 in Nitrates Mean: 2.739091603053435 outliers: 7.861000000000001 & 17.3
Detected total of 6 in Orthophosphate-phosphorus Mean: 0.08412748091603052 outliers: 0.221 & 0.305
Detected total of 8 in Total phosphorus Mean: 0.2004946564885496 outliers: 0.377 & 0.424
Detected total of 12 in Calcium Mean: 85.53778571428572 outliers: 24.85 & 121.8
Detected total of 7 in Magnesium Mean: 20.770095238095244 outliers: 6.912000000000001 & 63.23
Detected total of 9 in Chlorides Mean: 199.517 outliers: 85.8 & 341.0
Detected total of 2 in Biochemical Oxygen Mean: 5.406296703296703 outliers: 22.48 & 74.71
Detected total of 4 in Chemical Oxygen Demand (Cr) Mean: 59.252822916666666 outliers: 181.48 & 431.09
Detected total of 6 in Chemical Oxygen Demand (Mn) Mean: 6.879473684210526 outliers: 0.0 & 28.54
Detected total of 2 in day Mean: 13.325757575757576 outliers: 29.0 & 30.0
Detected total of 0 in month Mean: 6.613636363636363 outliers: 0 & 0
Detected total of 0 in year Mean: 2012.1439393939395 outliers: 0 & 0
-----------------------------
Report: Achara
[]
Detected total of 0 in Water temperature Mean: 13.629411764705884 outliers: 0 & 0
Detected total of 5 in Dissolved oxygen Mean: 10.009916666666667 outliers: 6.4 & 15.1
Detected total of 7 in Ammonium Mean: 0.11542962962962962 outliers: 0.39 & 0.912
Detected total of 7 in Nitrites Mean: 0.033942222222222214 outliers: 0.10336 & 0.21
Detected total of 3 in Nitrates Mean: 1.1852428148148144 outliers: 2.63 & 3.73126
Detected total of 6 in Orthophosphate-phosphorus Mean: 0.09242222222222223 outliers: 0.29 & 0.53
Detected total of 8 in Total phosphorus Mean: 0.1493582089552239 outliers: 0.445 & 0.82
Detected total of 12 in Calcium Mean: 36.87640449438202 outliers: 24.5 & 54.2
Detected total of 4 in Magnesium Mean: 6.324719101123595 outliers: 2.2 & 20.4
Detected total of 7 in Chlorides Mean: 10.638636363636364 outliers: 5.4 & 22.1
Detected total of 9 in Biochemical Oxygen Mean: 2.3102564102564105 outliers: 4.2 & 5.9
Detected total of 5 in Chemical Oxygen Demand (Cr) Mean: 6.870833333333334 outliers: 18.0 & 23.0
Detected total of 12 in Chemical Oxygen Demand (Mn) Mean: 2.7823076923076924 outliers: 0.0 & 7.4
Detected total of 7 in day Mean: 16.384615384615383 outliers: 4.0 & 31.0
Detected total of 0 in month Mean: 6.594405594405594 outliers: 0 & 0
Detected total of 0 in year Mean: 2011.923076923077 outliers: 0 & 0
-----------------------------
Report: Decha
[28.0, 0.2, 27.6]
Detected total of 3 in Water temperature Mean: 13.27375 outliers: 0.2 & 28.0
Detected total of 6 in Dissolved oxygen Mean: 10.912323232323233 outliers: 6.5 & 14.5
Detected total of 1 in Ammonium Mean: 0.2610067567567568 outliers: 6.138 & 6.138
Detected total of 7 in Nitrites Mean: 0.02135333333333333 outliers: 0.05 & 0.083
Detected total of 4 in Nitrates Mean: 0.6146599999999999 outliers: 0.017 & 1.5390000000000001
Detected total of 2 in Orthophosphate-phosphorus Mean: 0.034849324324324325 outliers: 0.20199999999999999 & 0.486
Detected total of 3 in Total phosphorus Mean: 0.14906344827586204 outliers: 0.66 & 2.1382
Detected total of 11 in Calcium Mean: 53.81873255813952 outliers: 21.4 & 96.79
Detected total of 8 in Magnesium Mean: 13.078590361445785 outliers: 2.6 & 29.36
Detected total of 8 in Chlorides Mean: 73.72362499999998 outliers: 139.0 & 199.61
Detected total of 4 in Biochemical Oxygen Mean: 3.6121739130434785 outliers: 1.1 & 11.2
Detected total of 8 in Chemical Oxygen Demand (Cr) Mean: 26.226881720430107 outliers: 0.0 & 69.1
Detected total of 9 in Chemical Oxygen Demand (Mn) Mean: 7.172734042553191 outliers: 12.6 & 16.96
Detected total of 6 in day Mean: 17.533333333333335 outliers: 2.0 & 31.0
Detected total of 0 in month Mean: 6.553333333333334 outliers: 0 & 0
Detected total of 0 in year Mean: 2013.24 outliers: 0 & 0
-----------------------------

In [21]:
fdf.corr()

,Water temperature,Dissolved oxygen,Ammonium,Nitrites,Nitrates,Orthophosphate-phosphorus,Total phosphorus,Calcium,Magnesium,Chlorides,Biochemical Oxygen,Chemical Oxygen Demand (Cr),Chemical Oxygen Demand (Mn),day,month,year
Water temperature,1.000000,-0.627020,-0.025099,0.024005,-0.265012,-0.000946,0.018633,-0.145741,-0.145120,-0.049011,0.026055,0.026471,0.023251,0.040704,0.222006,0.028962
Dissolved oxygen,-0.627020,1.000000,-0.130120,-0.091559,0.091094,-0.108955,-0.070346,-0.015331,0.034870,0.023126,-0.119825,-0.038863,-0.086318,-0.096908,-0.201918,0.165541
Ammonium,-0.025099,-0.130120,1.000000,0.331811,0.287198,0.430217,0.342432,0.392106,0.088295,0.272716,0.367024,0.081250,0.298326,0.149422,-0.026137,-0.111906
Nitrites,0.024005,-0.091559,0.331811,1.000000,0.279298,0.138935,0.158534,0.227408,0.070565,0.322155,0.119888,0.110603,0.167264,0.013489,0.008527,-0.080084
Nitrates,-0.265012,0.091094,0.287198,0.279298,1.000000,0.069505,0.052720,0.368505,0.287592,0.281039,0.106505,0.140375,0.138702,0.046793,-0.147297,-0.139058
Orthophosphate-phosphorus,-0.000946,-0.108955,0.430217,0.138935,0.069505,1.000000,0.703248,0.170611,-0.096418,0.025479,0.289919,-0.059725,0.142646,0.083506,0.038706,-0.052030
Total phosphorus,0.018633,-0.070346,0.342432,0.158534,0.052720,0.703248,1.000000,0.161663,-0.045078,0.119652,0.259310,0.065174,0.167451,0.068539,0.035971,-0.029982
Calcium,-0.145741,-0.015331,0.392106,0.227408,0.368505,0.170611,0.161663,1.000000,0.152430,0.589382,0.270950,0.337650,0.401474,0.093547,-0.037565,-0.124690
Magnesium,-0.145120,0.034870,0.088295,0.070565,0.287592,-0.096418,-0.045078,0.152430,1.000000,0.239936,0.050217,0.243296,0.187616,0.072025,-0.079239,-0.107778
Chlorides,-0.049011,0.023126,0.272716,0.322155,0.281039,0.025479,0.119652,0.589382,0.239936,1.000000,0.257366,0.500494,0.372251,-0.015981,0.008869,0.025043
Biochemical Oxygen,0.026055,-0.119825,0.367024,0.119888,0.106505,0.289919,0.259310,0.270950,0.050217,0.257366,1.000000,0.347833,0.399703,0.091477,-0.045730,-0.178549
Chemical Oxygen Demand (Cr),0.026471,-0.038863,0.081250,0.110603,0.140375,-0.059725,0.065174,0.337650,0.243296,0.500494,0.347833,1.000000,0.363181,-0.014429,-0.019427,0.103280
Chemical Oxygen Demand (Mn),0.023251,-0.086318,0.298326,0.167264,0.138702,0.142646,0.167451,0.401474,0.187616,0.372251,0.399703,0.363181,1.000000,0.149766,-0.022066,-0.185920
day,0.040704,-0.096908,0.149422,0.013489,0.046793,0.083506,0.068539,0.093547,0.072025,-0.015981,0.091477,-0.014429,0.149766,1.000000,-0.120720,-0.162356
month,0.222006,-0.201918,-0.026137,0.008527,-0.147297,0.038706,0.035971,-0.037565,-0.079239,0.008869,-0.045730,-0.019427,-0.022066,-0.120720,1.000000,-0.009800
year,0.028962,0.165541,-0.111906,-0.080084,-0.139058,-0.052030,-0.029982,-0.124690,-0.107778,0.025043,-0.178549,0.103280,-0.185920,-0.162356,-0.009800,1.000000

In [32]:
def printTable(title, tdata, headers=[]):
    print('\n')
    print(title)    
    print('\n')
    print(tabulate(tdata, headers= headers, tablefmt="pretty"))
    print('\n')